@import '../../../styles/settings.scss';

.root {
  margin-top: 24px;
  padding: 30px 0 70px 0;
  background: $blue;
 
   .loginTitle {
       color: $white;
       text-align: center;
       padding-bottom: 10px;
   }
   a {
    color: $blue-3;
   }
  .title {
    text-align: center;
    color: $white;
    padding-bottom: 120px;
    font-size: 56px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: $black-2;
    background: $white;
    padding: 20px 20px;
    max-width: 500px;
    max-height: 400px;
    margin: auto;
    border-top: 8px solid $primary-3;
    border-radius: 10px;

    label {
      font-weight: bolder;
      margin: 0 20px 0 20px;
    }

    input[type='email'], input[type='password'] {
      font-weight: bolder;
      padding: 10px;
      margin: 0 20px 10px 20px;
      outline: none;
      cursor: pointer;
      border: 2px solid;
      border-radius: 5px;
    }

    p {
      margin: 0 20px 20px 20px;
    }

    .button {
      margin: auto;
      padding: 15px 60px;
      background: $primary-2;
      color: $black-3;
      font-weight: bolder;
      border-radius: 5px;
      box-shadow: 0 0 10px $lighterGray;

    }
  }
}