@import '../../../styles/settings.scss';

.root {
  margin-top: 24px;
  padding-top: 30px;
  background: $blue;

  .title {
    text-align: center;
    color: $white;
    padding-bottom: 120px;
    font-size: 56px;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    color: $black-2;
    background: $white;
    padding: 20px 20px;
    max-width: 500px;
    max-height: 400px;
    margin: auto;
    border-top: 8px solid $primary;
    border-radius: 10px;
    margin-bottom: 24px;

    label {
      font-weight: bolder;
      margin: 0 20px 0 20px;
    }

    input[type='email'], input[type='password'] {
      font-weight: bolder;
      padding: 10px;
      margin: 0 20px 0 20px;
      outline: none;
      cursor: pointer;
      border: 2px solid;
      border-radius: 5px;
    }

    p {
      margin: 0 20px 20px 20px;
    }

    .button {
      margin: auto;
      padding: ($base-padding / 2) ($base-padding * 2);
      background: linear-gradient(lighten($primary, 40%), $primary);
      color: $black-2;
      font-weight: bolder;
      border-radius: 5px;
      box-shadow: 0 0 10px $lighterGray;

    }
  }
}