@import '../../../styles/settings.scss';

.root {
  position: fixed;
  left: 40px;
  bottom: 0px;
  .bubble {
    margin-bottom: 60px;
    cursor: pointer;
    .icon {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 30px;
      color: #fff;
      border-radius: 50%;
      background-color: $primary;
      @extend%hover-transition;
      .text {
        display: none;
        margin-top: 10px;
        width: 150px;
        height: 35px;
        border-radius: 10px;
        background-color: $primary;
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        text-align: left;
        span {
          margin: 10px;
        }
      }
      &:hover .text {
        display: block;
      }
    }
  }
  .chat {
    display: none;
    width: 250px;
    height: $chat-height;
    background-color: #fff;
    box-shadow: 0 0 5px $lightGray;
    .chatHeader {
      background-color: $chat-header-bg;
      display: flex;
      height: $chat-header-hg;
      line-height: 36px;
      color: #fff;
      .user {
        display: flex;
        .userPhoto {
        width: 30px;
        height: 30px;
      }
    }
      .actionsIcons {
        text-align: right;
        svg {
          cursor: pointer;
        }
      }
    }
    .chatWindow {
      height: $chat-window-hg;
      font-size: 14px;
      padding: 10px 0;
      .message {
        padding: 10px;
        margin: 0 10px;
        width: 70%;
        background-color: $chat-message-bg;
        border-radius: 10px;
      }
    }
    .chatInput {
      min-height: $chat-input-hg;
      font-size: 14px;
      box-shadow: 0 0 3px $lightGray;
      line-height: 13px;
      textarea {
        width: 100%;
        height: 100%;
        resize: none;
        outline: none;
        border: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
    .active {
    display: block;
  }
  .displayNone {
    display: none;
  }
}

