//Promotion 
$base-padding: 60px;
$padding-2: 10px;

// COLORS VARIABLES SHOULD BE USING ONLY IN THIS FILE
$primary: #d58e32;
$primary-2: #FFB000;
$primary-3: #F09713;
$text-color: #2a2a2a;
$form-border-color: #292929;
$darkerGray: #2a2a2a;
$darkGray:  #363636;
$lightGray: #434343;
$lighterGray: #5c5757;  
$white: #ffffff;
$black: rgb(42, 42, 42);
$black-2: #050505;
$black-3: #613E18;
$light: #e2e2e2;
$blue: #577A98;
$blue-2: #415B74;
$blue-3: #A6BCD3;
$blue-4: #466079;

$header-topbar-bg: $lightGray;
$header-bg: $darkGray;

$hot-deals-bg: $darkerGray;
$hot-deals-text: $white;

$footer-claim-bg: $darkerGray;
$footer-bg: $darkGray;

$product-search-hover-icon: $white;


//hover & animation
$bg-transition-time: 0.25s;
$txt-transition-time: 0.25s;
$move-duration-time: .5s;

$transition:
  color 0.25s,
  border 0.25s,
  background-color 0.25s;

%hover-animation {
  transition: $transition;
}

@keyframes move {
  30% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  100%{
    transform: translateX(0px);
  }
}

%move-animation {
  animation: move $move-duration-time cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

%hover-transition {
  transition:  color $txt-transition-time, background-color $bg-transition-time;

  &:not(.noHover):hover {
    @extend%move-animation;
  }
}

$animation3d: width 2s, height 2s, transform 2s;