$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;

$text-color: #2a2a2a;

$form-border-color: #292929;


//hover & animation
$bg-transition-time: 0.25s;
$txt-transition-time: 0.25s;
$move-duration-time: .5s;


@keyframes move {
  30% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  100%{
    transform: translateX(0px);
  }
}

%move-animation {
  animation: move $move-duration-time cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

%hover-transition {
  transition:  color $txt-transition-time, background-color $bg-transition-time;

  &:not(.noHover):hover {
    @extend%move-animation;
  }
}