//Promotion
$base-padding: 60px;
$padding-2: 10px;

// COLORS VARIABLES SHOULD BE USING ONLY IN THIS FILE
$primary: #d58e32;
$text-color: #2a2a2a;
$form-border-color: #292929;
$darkerGray: #2a2a2a;
$darkGray:  #363636;
$lightGray: #434343;
$white: #ffffff;
$black: rgb(42, 42, 42);
$light: #e2e2e2;
$textarea-color: #e7e7e7;

$header-topbar-bg: $lightGray;
$header-bg: $darkGray;

$hot-deals-bg: $darkerGray;
$hot-deals-text: $white;

$footer-claim-bg: $darkerGray;
$footer-bg: $darkGray;

$product-search-hover-icon: $white;


///CHATBOT STYLES OPTION
$chat-height: 280px;
$chat-header-bg: $primary;
$chat-header-hg: 36px;
$chat-input-hg: 40px;
$chat-window-hg: 204px;
$chat-message-bg: $textarea-color;



//hover & animation
$bg-transition-time: 0.25s;
$txt-transition-time: 0.25s;
$move-duration-time: .5s;

$transition:
  color 0.25s,
  border 0.25s,
  background-color 0.25s;

%hover-animation {
  transition: $transition;
}

@keyframes move {
  30% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-4px);
  }
  100%{
    transform: translateX(0px);
  }
}

%move-animation {
  animation: move $move-duration-time cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

%hover-transition {
  transition:  color $txt-transition-time, background-color $bg-transition-time;

  &:not(.noHover):hover {
    @extend%move-animation;
  }
}
