@import "../../../styles/settings.scss";
@import "../../../styles/bootstrap.scss";


.root {
  padding: 2rem 0 0 0;
  flex-grow: 2;
  .topBar {
    background-color: $hot-deals-bg;
    color: $hot-deals-text;
    font-size: 14px;
    line-height: 36px;
    font-weight: 500;
    margin: 0 0;
    .text {
      padding: 0 5%;
      text-align: left;
     }
    .dots {
      text-align: right;
      font-size: 10px;
      svg {
        margin: 0 3px;
        &:hover {
          color: $primary;
        }
        .active {
          color: $primary;
         }
       }
     }
   }
  .hotDeals {
    max-width: 33%;
    max-height: 390px;
    .inactive {
      display: none;
    }
    }
  .slide {
    padding-left: 0;
    width: 66%;
    max-height: 350px;
    .slider {
      position: relative;
      max-height: 390px;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 350px;
      }
      .shopNow {
        position: absolute;
        top:25%;
        height: 50%;
        width: 100%;
        opacity: 0.6;
        background: black;
        padding: 40px 0;
      }
      .text {
        position: absolute;
        top: 25%;
        display: flex;
        flex-direction: column;
        color: white;
        width: 100%;
        height: 50%;
        justify-content: center;
        text-align: center;
        :first-child {
          width: 100%;
          font-size: 50px;
          font-weight: 100;
          b {
            font-weight: 700;
          }
        }
        :nth-child(2) {
          font-weight: 200;
        }
      }
      .button {
        position: absolute;
        border-radius: 3px;
        left: 50%;
        top: 70%;
        transform: translateX(-50%);
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        line-height: 40px;
        height: 40px;
        width: 100px;
        background-color: white;
        color: black;
        &:hover {
          background-color: $primary;
        }

      }
    }
    .buttons {
      width: 100%;
      height: 30px;
      margin: 0 auto;
      .buttonLeft, .buttonRight {
        font-size:14px;
        line-height: 28px;
        text-align: center;
        color: white;
        background-color: $darkerGray;
        &:hover {
          background-color: $primary;
        }
      }
    }
  }
  .fadeIn {
    -webkit-animation: fade-in 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
    animation: fade-in 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
  }

  .fadeOut {
    -webkit-animation: fade-out 0.7s ease-out both;
    animation: fade-out 0.7s ease-out both;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 769px) {
  .hotDeals {
    display: none;
  }
}
