@import "../../../styles/settings.scss";

.root {
<<<<<<< HEAD
  padding: 2rem 0 5rem 0;
=======
  padding: 3rem 0;
>>>>>>> 9aecfa3 (bug fixed - promotion component is finished)
}

a:hover {
  text-decoration: none;
}
